.wrapper {
    width: max-content;
    padding: 1px;
    border-radius: 8px;
    margin-right: 10px;
    opacity: 0.7;
  }
  
.pill {
    padding: 2px 6px;
    border-radius: 8px;
    font-size: 14px;
    border: 2px solid var(--pink);
}