.wrapper {
    grid-area: gamelist;
    min-height: calc(100vh - 250px);
}

.gameList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
}