.header {
    grid-area: header;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
    background-color: var(--cyan);
    color: var(--deep-blue);
    font-size: var(--font-heading);
    font-family: 'Pacifico', cursive;

    @media only screen and (max-width: 870px) {
        padding-left: 20px;
        font-size: var(--font-xl);
    }

    p {
        background: linear-gradient(
            20deg, #025d5e, #c27e0e, #c27e0e
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}