.sidebar {
    grid-area: sidebar;
    background-color: var(--deep-blue);
    padding: 40px;
    color: var(--cyan);
    font-weight: normal;
}

.filterTitle {
    color: var(--pink);
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
}