:root {
  /* colors */
  --cyan: #00cecb;
  --deep-blue: #14213d;
  --off-white: #f8f9fa;
  --orange: #fca311;
  --light-cyan: #daf0ee;
  /* fonts */
  --font-s: 14px;
  --font-m: 16px;
  --font-l: 18px;
  --font-xl: 20px;
  --font-heading: 50px;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: var(--font-m);
}

button {
  font-family: 'Nunito', sans-serif;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}
