:root {
  /* colors */
  --default-text: #4c566a;
  --primary-dark: #d8dee9;
  --primary-mid: #e5e9f0;
  --primary-light: #f8f9fa;
  --secondary-dark: #220135;
  --secondary-mid: #2f184b;
  --seconday-light: #c05299;
  --seconday-bright: #F072F3;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

button {
  font-family: 'Nunito', sans-serif;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}
